<!-- 
    ROS navigation stack with velocity smoother and safety (reactive) controller
-->
<launch>

  <arg name="odom_topic" default="/odometry/filtered" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/param/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find navigation)/param/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find navigation)/param/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find navigation)/param/global_planner.yaml" command="load" />
    <rosparam file="$(find navigation)/param/move_base_params.yaml" command="load" />
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>
