<?xml version="1.0" encoding="UTF-8"?>
<launch>
		<!-- these are the arguments you can pass this launch file, for example paused:=true -->
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
		<arg name="gui" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>

		<!-- We resume the logic in empty_world.launch -->

		<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
		</include>

		<!-- Load the URDF into the ROS Parameter Server -->
		<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mybot_description)/urdf/mybot.xacro'" />

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name="default_topic" value="/mobile_base_controller/cmd_vel"/>
    </node>

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

		<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
			args=" -urdf -model mybot -param robot_description"/>

		<!-- Show in Rviz   -->
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_description)/rviz/model.rviz"/>

    <!-- Run the EKF Localization node -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/config/localization.yaml"/>
    </node>

		<include file="$(find mybot_ros_control)/launch/ros_control.launch"/>
          
</launch>
